%% -*- mode: Erlang; -*-
{deps, [
  {lager, ".*", {git, "https://github.com/basho/lager.git", "3.0.1"}},
  {ulitos, ".*", {git, "https://github.com/palkan/ulitos.git", "v0.2.0"}},
  {meck, ".*", {git, "https://github.com/eproxus/meck.git", "0.8.3"}},
  {eunit_formatters, ".*", {git, "https://github.com/seancribbs/eunit_formatters.git", "master"}}
]}.
{require_otp_vsn, "18"}.
{erl_opts, [
  debug_info, 
  {i, "apps"}, 
  warn_unused_vars, 
  {parse_transform, lager_transform}
]}.
{clean_files, ["*.eunit", "ebin/*.beam", "specs/*.beam", "specs/logs/*"]}.
{eunit_opts, [
  no_tty,
  {report,{eunit_progress, [colored, profile]}}]}.
{ct_dir, "specs"}.
{ct_log_dir, "specs/logs"}.
{ct_extra_params, "-config specs/test.config"}.
